
//** Primary Color Palette **//
$lp-blue: #0069ff;
$lp-blue-hover: #0055cc;
$base-grey: #f2f4f7;
$base-grey-hover: #C0C2C4;

//** Secondary Color Palette **//
$lp-navy: #020020;
$lp-navy-hover: #060054;
$lp-yellow: #fed200;
$lp-yellow-hover: #DDAA00;

//** Greyscale **//
$white: #ffffff;
$black: #000000;
$alternate-base-grey: #e6e9ef;

$bglight-primary-grey: #4c515d;
$bglight-secondary-grey: #797f89;
$bgdark-primary-grey: #b1bacc;
$bgdark-secondary-grey: #808090;

//** Alternate Interface Color **//
$half-blue: #bcdfff;

//** Tertiary Colors **//
$lp-green: #32c88c;
$lp-green-hover: #259468;
$lp-red: #fa3246;
$lp-red-hover: #C72838;
$lp-indigo: #3c288c;
$lp-indigo-hover: #271A59;
