.documentation {
  padding: 48px 0;

  .title {
    font-size: 2.125rem;
    font-weight: 700;
  }

  iframe {
    width: 100%;
    height: 640px;

    // this will need to be reworked if docs are migrated over
    border-top: 1px solid $bgdark-primary-grey;
  }
}
